body {
    font-family: sans-serif;
}

div.section {
    margin: 1em;
    padding: 0.5em 1em;
    border: 1px solid black;
    border-radius: 1em;
}

div.card {
    margin: 1em;
    padding: 0.5em 1em;
    border: 1px solid black;
    border-radius: 1em;
}

div.card .card {
    margin: 0em 1em;
    border: none;
}

div.card h2 {
    margin: 0;
}
div.card p {
    margin: 0;
}